:root{
  --second-datamargin:40px;
  --second-ycolumn:120px;
  --second-totalwidth:5000px;
  --second-onebox:450px;
  --brother-height:72vh;
  --second-columns3:90px;
}

/* font-size */
.second_detail{font-size:14.5px;font-weight:600;}
.second_table1_month_init{font-size:18px;font-weight:700;}
.second_title_p2{font-size:27px;font-weight:200;}
.second_title_p{font-size:20px;font-weight:700;}
.second_monthly_calc{font-size:15px;}

#second_data{position:relative;display:block;height:calc(100vh - (calc(var(--second-datamargin) * 2)));margin:var(--second-datamargin);box-sizing: border-box;border-radius:5px;overflow:scroll;margin-top:0;top:var(--second-datamargin);}
#second_data::-webkit-scrollbar{display:none;}
.second_brother{background:#fbfbfb;height:var(--brother-height);position:relative;overflow:scroll;border-radius:5px;cursor:pointer;box-shadow:rgb(128,128,128) 0px 1px 15px -11px;}
.second_brother::-webkit-scrollbar{display:none;}
#second_table1_columns{position:fixed;width:var(--second-ycolumn);height:var(--brother-height);z-index:3;background:linear-gradient(222deg, rgba(89,175,137,0.9) 5%, rgba(0,156,106,0.9) 100%);border-radius: 5px 0px 0px 5px;left:calc(var(--second-datamargin));}
#second_table1_total{left:calc((calc(var(--second-ycolumn))));width:var(--second-totalwidth);height:100%;position:relative;}
.second_table1_up{height:var(--second-columns3);left:0;position:relative;}
#second_table1_up3{background:#ececec;width:var(--second-totalwidth);}
.second_table1_block_init{display:inline-block;}
.second_table1_month_init{display:flex;justify-content:center;align-items:center;margin-top:19px;margin-bottom:-14px;}
.second_table1_down{height:calc(100% - var(--second-columns3));left:0;position:relative;}
#second_table1_down3{background:#fbfbfb;width:var(--second-totalwidth);}
.second_table1_databox{width:100%;height:calc(calc(100% - calc(calc(var(--second-columns3) * 2) / 3)) / 3);}
.second_table1_block{height:calc(100% - 43px);display:inline-flex;flex-flow:wrap;padding:20px;padding-bottom:23px;padding-left:20px;padding-right:20px;justify-content:center;}
#second_table1_down3 .second_table1_block{border-right:1px dashed #dddddd;border-bottom:1px solid #dddddd;}
.second_table1_week{width:70px;display:inline-flex;flex-direction:column;text-align:center;justify-content:center;align-items:center;}
.second_detail{display:flex;justify-content:center;align-items:center;height:25%;font-weight:300;}
#second_table1_columns .second_table1_down .second_table1_databox .second_table1_block .second_detail{color:#fff;font-weight:700;}
.second_monthly_calc{display:inline-flex;height:calc(calc(var(--second-columns3) * 2) / 3);font-weight:200;text-align:center;justify-content:center;color:#2fa678;border-right:1px dashed #dddddd;}
.second_monthly_calc p{display:inline-flex;text-align:center;justify-content:center;align-items:center;margin:6px;margin-top:1px;}
.second_monthly_calc strong{font-weight:600;margin-right:4px;}
.second_garim{position:absolute;width:100%;height:100%;top:0;left:0;background:transparent;}
.second_title0,.second_title1{position:relative;display:block;}
.second_title0{padding-bottom:11px;padding-left:1px;margin-top:7px;}
.second_title1{padding-top:26px;text-align:right;padding-right:1px;}
.second_title_p2 p,.second_title_p2 strong{display:inline-block;margin-left:10px;}
.second_title_p2 strong{position:relative;top:-7px;font-weight:100;color:#dddddd;}
.second_title_p2 p b{font-weight:600;color:#2fa678;margin-left:1px;margin-right:1px;}
.second_title_bar{position:absolute;width:calc(100% - 145px);height:1px;background:#ecececec;right:0;top:12px;}

#progressbox{
  position:relative;
  height:73vh;
  display:flex;
  overflow: scroll;
}
#progressbox::-webkit-scrollbar{display:none;}


.progressbox_detail{
  font-size:16px;
  margin-right: 10px;
}
.progressbox_detail_title{
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  line-height: 1.5;
  margin-top: 13.5px;
  margin-right: 13px;
  margin-bottom: 8px;
  padding-bottom: 12px;
  border-bottom: 1px dashed #dddddd;
}
.progressbox_detail_contents{
  font-size:14px;
  width:100%;
  display:inline-block;
  margin-top: 6px;
}
.progressbox_detail_contents p{
  display: inline-block;
    text-align: center;
    border-radius: 58px;
    padding: 20px;
    width: 49px;
    height: 47px;
    position: relative;
    padding-top: 27px;
    padding-bottom: 14px;
    margin-right: 11px;
    margin-top: 3px;
    margin-left: 0px;
}




















/* exit */
