/* variable*/
:root{
  --left-padding:190px;
  --main-marginbase:6px;
}

/* total css */
html{-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing: grayscale}
*{margin:0;padding:0;transition:all 0.5s ease;font-family:'sandoll'}
body,div{font-size:0;color:#404040;margin:0;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);background:0 0;outline:0}
textarea{resize:none}
b,strong{font-weight:inherit;display:inline;}
img{border:0}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box;white-space: normal}
input[type=text],input[type=password],textarea{-webkit-appearance:none;appearance: none;box-sizing:border-box}
input{line-height:normal}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
p{overflow:hidden;}
b{color:#c0c0c0;}
label{cursor:pointer}
article,section{margin:0;}
@keyframes in{from{opacity:0;transform:translateY(8px);}to{opacity:1;transform:translateY(0px);}}
@keyframes fa{from{opacity:0;}to{opacity:1;}}
@keyframes flash{from,80%,to{opacity:0}30%,50%{opacity:0.85}}
#totalcontents,#secondcontents{display:block;position:relative;left:0;}
#secondcontents{width:100vw;height:100vh}
#totalcontents{transform:translateX(190px);}
.hiddenp,.switch{display:none;}

/* grayfocus_switch */
#grayfocus_switch:checked ~ #rowmain > #naviid > #navigreen > .navibelow_back
,#grayfocus_switch:checked ~ #rowmain > #naviid > #naviyellow > .navibelow_back{background:#f7f7f7;}
#grayfocus_switch:checked ~ #rowmain > #searchbar{background:#f0f0f0;}
#grayfocus_switch:checked ~ #rowmain > #initcolumn{background:#ffffff;opacity:1}
#grayfocus_switch:checked ~ #rowmain > #initcolumn #initcolumn_column_stikcy{background:#ffffff;}
#grayfocus_switch:checked ~ #rowmain > #totalcontents > .columns
,#grayfocus_switch:checked ~ #rowmain > #totalcontents > .data{background:#f0f0f0;}

/* grayfocus_card_switch */
#grayfocus_card_switch:checked ~ #cardmain > #cardviewbox
,#grayfocus_card_switch:checked ~ #cardmain > #cardviewbox > .cardtitle > .cardtitle_img1
,#grayfocus_card_switch:checked ~ #cardmain > #cardviewbox > .cardtitle > .cardtitle_img2
,#grayfocus_card_switch:checked ~ #cardmain > #cardviewbox > .cardtitle > .cardtitle_img3
,#grayfocus_card_switch:checked ~ #cardmain > #cardviewbox > .cardtitle > .cardtitle_white{background:#f0f0f0;}
#grayfocus_card_switch:checked ~ #cardmain > #cardviewbox > .carddata > .cards > .cardcontents{background:#dddddd;}

/* red_button_X_switch : X - red button */
#red_button_X_switch:checked ~ #cardmain > #cardviewbox{width:calc(100% - 290px);margin-left:-150px;}
#red_button_X_switch:checked ~ #rowmain > #belowid > #belowscroll{left: calc(46.5% - 440px)}
#red_button_X_switch:checked ~ #rowmain > #totalcontents{transform:translateX(40px);}
#red_button_X_switch:checked ~ #rowmain > #belowid .below2{transform: translateX(-150px);width: calc(100vw - 80px);}
#red_button_X_switch:checked ~ #rowmain > #naviid{transform: translateX(-150px);}

/* red_button_Y_switch : Y - red button */
#red_button_Y_switch:checked ~ #cardmain > #cardviewbox{height:calc(100% - 70px);}
#red_button_Y_switch:checked ~ #rowmain > #belowid{transform: translateY(123px);}

/* card_on_switch */
#card_on_switch:checked ~ #rowmain > #belowid > #belowscroll{display:none;}

/* create_on_switch */
#create_on_switch:checked ~ #rowmain > #initcolumn{display:none;}
#create_on_switch:checked ~ #rowmain > #totalcontents{transform:translateX(0px);}
#red_button_X_switch:checked + #create_on_switch:checked ~ #rowmain > #totalcontents{transform:translateX(-150px);}
#create_on_switch:checked ~ #cardmain > #cardviewbox{width:calc(100% - 259px);margin-left:-185px;}
#red_button_X_switch:checked + #create_on_switch:checked ~ #cardmain > #cardviewbox{width:calc(100% - 110px);margin-left:-335px;}

/* font-size */
.columnobj,.rows,.columnobjinit,.rowinput,.slidenumber,.d_menu{font-family:'sandoll';font-size:14px;}
.searchinput{font-size:14.5px;}
.bleobj{font-size:14.3px;}
.navititle{font-size:15.5px;}
.navipara,.sortbox_item,.fiterbox_item{font-size:15px;}
#savecancel,.periodinput,.periodp,.multiplebox_buttons{font-size:16px;}
#calendar_text{font-size:35px;}
.rowinputplus{font-size:28px;}
#period_equal,#period_text{font-size:18.5px;}
#multiplebox section{font-size:17px;}
.cards{font-size:13px;}
.cardtitle_main{font-size:47px;}
.cardtitle_sub{font-size:23px;}
#cardtitle_main_create{font-size:43px;}
#cardtitle_sub_create,.picdiv{font-size:18px;}
.piclabel{font-size:12px;}

/* columns */
.columns{position:sticky;top:0px;display:block;border-radius:5px;padding:58px 8px 2px calc(var(--left-padding) + 8px);z-index:1;background:#fff;transition:background 0s;}
.columnobj{display:inline-block;position:relative;font-weight:700;vertical-align:top;text-align:center;margin:32px 0px 0px 8px;margin-left:2px;padding:8px 16px 6px 16px;min-height:24px;color:#2fa678;cursor:pointer;}

/* total data */
.data{position:relative;background:#fff;overflow-x:visible;overflow-y:scroll;padding-left:var(--left-padding);transition:background 0s;}
.rowdiv{position:relative;display:block;margin:0px;margin-top:0px;padding:1px 2px 1px 8px;border-top:1px solid #e2e2e2;}
.rows{display:inline-block;position:relative;margin:0px;margin-left:2px;font-weight:600;border-radius:4px;padding:7px 16px 6px 16px;vertical-align:top;text-align:center;min-height:22px;max-height:22px;overflow:hidden;letter-spacing:-0.2px;cursor:pointer;}
.textrows{line-height:1.7;padding-top:5px;min-height:25px;max-height:25px;transition:all 0s;}
.rowdiv_back,.rowdiv_init_back{display: block;position:absolute;z-index:0;background:transparent;transition:background 0s;}
.rowdiv_back{width:100%;height:100%;top:0;left:0;opacity:0.6;padding:0px 0px 0px 8px;}
.rowdiv_init_back{width:111.3%;height:38.4px;top:-1px;left:-20px;opacity:0.8;}
.rows_back{display:inline-block;position:relative;margin:0px;margin-left:2px;border-radius:4px;padding:0px 16px 0px 16px;height:100%;}
#coloringback_switch:checked ~ #rowmain > #initcolumn > #initcolumn_data > .rowdiv_init > .rowdiv_init_back,
#coloringback_switch:checked ~ #rowmain > #totalcontents > #datadiv > .rowdiv > .rowdiv_back{z-index:1;}
#coloringback_switch:checked ~ #rowmain > #totalcontents > #columns{z-index:2;}

/* below & navi */
#belowid{position:fixed;height:123px;text-align: center;bottom:0;width:calc(100% - 190px);left:190px;z-index:100;transform:translateY(0px)}
.below2{position:relative;padding:20px;height:100%;transform: translateX(0px);width: calc(100vw - 230px);}
.bletotal{display:inline-block;position:relative;overflow:hidden;border-radius:3px;}
.bleobj{position:relative;color:#2fa678;margin:4px;margin-top:5px;font-family:'sandoll';font-weight:700;padding:5px 14px 6px 14px;background: linear-gradient(222deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 100%);border-radius:3px;}
.blegarim{position:absolute;top:4px;left:4px;width:calc(100% - 8px);height:calc(100% - 8px);background:linear-gradient(222deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 100%);opacity:0;cursor:pointer;border-radius:5px;}
.blegarim:hover{opacity:0.5;}
#belowgreen_back{width:200%;background:linear-gradient(222deg, rgba(89,175,137,0.9) 5%, rgba(0,156,106,0.9) 100%);}
#belowyellow_back{width:200%;background:linear-gradient(43deg, rgba(221,221,221,0.9) 0%, rgba(236,236,236,0.9) 100%);}
.circle{position:absolute;cursor:pointer;width:15px;height:15px;opacity:0.95;z-index:101;}
.belowcircle{top:-20px;}.navicircle{right:11px;}
#svgcirclegreen_b{right:7px;}#svgcircleyellow_b{right:25px;}#svgcirclered_b{right:43px;}#svgcirclegreen_n{top:51px;}#svgcircleyellow_n{top:33px;}#svgcirclered_n{top:15px;}

/* below scrollX */
#belowscroll{display:block;cursor:pointer;position:absolute;top:-41px;left:calc(50% - 440px);width:880px;height:26px;border-radius:8px;background:linear-gradient(30deg, rgba(89,175,137,0.9) 5%, rgba(0,156,106,0.9) 100%);box-shadow:rgb(128,128,128) 1px 4px 7px -5px;opacity: 0;transform: translateY(7px);}
#belowscroll_back{position:absolute;top:-700%;left:-50%;width:200%;height:1250%;background:transparent}
#belowscroll_bar{position:absolute;top:0px;left:2%;width:96%;height:45%;border-bottom:1.2px solid white;opacity:0.5;}
#belowscroll_button{transition:all 0s;position:absolute;top:20%;left:2%;width:0.8%;height:60%;background:white;opacity:0.9;border-radius:5px;cursor:pointer;box-shadow:rgb(0,156,106) 0.3px 0.7px 1.2px 0.5px;}

/* navi */
#naviid{position:fixed;height:100%;left:0;top:0;width:190px;z-index:100;transform:translateX(0px)}
.navi2{position:relative;width:190px;height:100%;}
.navibelow_back{position:absolute;top:0;left:0;width:100%;height:100%;background-color:#f2f2f2;}
.navitotalgroup{position:absolute;top:50%;margin-top:-380px;left:30px;}
.navititle{position:relative;font-weight:800;margin-top:30px;margin-bottom:9px;}
.navipara{position:relative;font-weight:500;margin-top:4px;opacity:1;}
.navipara:hover{opacity:0.5;}
.navitalk,.return_query,.create_row,.second_view{cursor:pointer;position:absolute;opacity:1;width:31px;}
.create_row:hover,.return_query:hover,.navitalk:hover,.second_view:hover{opacity:0.7;}
.navitalkicon,.return_queryicon,.create_rowicon,.second_viewicon{position:absolute;width:100%;height:100%;top:0;}
/* .navitalk{bottom:31.5px;left:29px;width:28px;height:25.2px;} */
.second_view{bottom:31.5px;left:24px;width:31px;height:26px;}
.return_query{bottom:30.5px;left:55px;height:27px;}
.create_row{bottom:31.5px;left:88px;width:31px;height:26px;}

/* navi scrollX */
#naviscroll{position: absolute;top:calc(50vh - 103px);left:calc(100vw - 71px);width:49px;height:40px;opacity:0;cursor:pointer;mix-blend-mode:multiply;transition:all 1s ease;}
#naviscroll_circle1,#naviscroll_circle2,#naviscroll_circle3{display:inline-block;width:39%;margin-right:-6px;opacity:0;}
.naviscroll_circle1{animation:flash 1.8s ease 0s infinite}
.naviscroll_circle2{animation:flash 1.8s ease 0.2s infinite}
.naviscroll_circle3{animation:flash 1.8s ease 0.4s infinite}

/* initcolumn */
#initcolumn{display:block;position:absolute;top:0;width:2480px;left:-2100px;height:7850px;background:#f7f7f7;z-index:3;opacity:0.87;box-shadow:1px 4px 7px -5px #aaaaaa;}
#initcolumn_data{position:absolute;top:0;right:0;width:190px;padding-top:132px;}
#initcolumn_column{position:absolute;bottom:-8px;right:0px;width:171px;height:100%;}
#initcolumn_column_stikcy{position:sticky;top:0;width:100%;height:130px;background:#f7f7f7;z-index:3;}
.rowdiv_init{position:relative;display:block;opacity:1;width:163px;left:17px;height:30px;margin:0px;margin-bottom:7px;font-family:'sandoll';color:#303030;font-weight:600;padding:1px 2px 1px 8px;cursor: pointer;}
.rowdiv_init div{color:inherit;}
.columnobjinit{right:0;display:inline-block;position:absolute;font-weight:700;transition:all 0s;min-height:24px;color:#2fa678;bottom:10px;cursor:pointer;}

/* search bar */
.searchbar{width:588px;position:fixed;height:80px;top:0;right:0px;z-index:1;background:#fff;transition:background 0s;overflow: visible;}
.searchicon{width:560px;height:35px;right:28px;top:30px;position:absolute;mix-blend-mode:multiply;}
.searchinput{position:absolute;top:29.5px;right:28px;width:548px;height:36px;outline:none;font-family:'sandoll';border:0;font-weight:500;background:transparent;color:#505050;letter-spacing:-0.2px;padding-bottom:4px;}

/* ajax funcs general */
#cancel_back{width:100%;height:100%;background:transparent;position:fixed;top:0px;left:0px;z-index:1;}

/* box */
#longtextbox,#longtextplusbox,#eashortbox,#menubox,#slidebox,#periodbox,#multiplebox,#arraybox,#objectbox{position:absolute;z-index:1;animation:in 0.3s ease forwards;}

/* long */
#longtextbox{color:#404040;padding:40px;padding-top:32px;padding-bottom:57px;top:32px;left:calc(-50% - 45px);width:200%;background:#fff;border-radius:5px;box-shadow:1px 4px 11px -5px #808080;}
.longtextbox::-webkit-scrollbar,.rowinput::-webkit-scrollbar{display:none;}
.rowinput{font-weight:600;width:100%;background:transparent;border:0;outline:none;overflow: scroll;height:100%;line-height:1.7;letter-spacing:-0.2px;}
.rowinputlong{text-align:left;}.rowinputshort{text-align:center;}
#savecancel{position:absolute;bottom:20px;right:26px;font-family:'futura';font-weight:400;color:#009c6a;}
.savecancelbt{position:absolute;top:0;width:50%;height:100%;cursor:pointer;}
#savecancelbt1{left:0;}
#savecancelbt2{left:50%;}

/* longplus */
#longtextplusbox{color:#404040;top:32px;left:-30%;width:160%;text-align:center;}
.longtextplusbox::-webkit-scrollbar,.rowinput::-webkit-scrollbar{display:none;}
.longtextitems{border-radius:5px;margin-top:6px;background:#fff;color:#2fa678;padding:22px;padding-top:19px;padding-bottom:22px;position:relative;width:calc(100% - 44px);box-shadow:0px 4px 10px -5px #909090;height:150px;}

/* short */
#shortbox{border-radius:5px;background:#fff;color:#2fa678;z-index:1;position:absolute;top:32px;height:27px;left:-6px;padding:5px;padding-left:6px;padding-right:6px;width:100%;animation:in 0.3s ease forwards;box-shadow:0px 4px 10px -5px #909090;}
#eashortbox{color:#2fa678;top:32px;height:37px;left:-12%;width:124%;}
#eabox1 {border-radius:5px;background:#fff;color:#2fa678;position:absolute;top:0;left:0;height:100%;width:calc(100% - 50px);box-shadow:0px 4px 10px -5px #909090;}
#eabox1 > textarea {margin-top:5px;height:calc(100% - 5px);}
#eabox2 {border-radius:5px;background:#fff;color:#2fa678;position:absolute;top:0;right:0;height:100%;width:45px;box-shadow:0px 4px 10px -5px #909090;}
.ea_current{font-weight:300;padding-top:5px;text-align:center;}
.ea_hiddenspot{opacity:0;transform:translateY(4px);position:absolute;width:100%;top:115%;left:0;}
#ea_input:checked + .ea_hiddenspot{opacity:1;transform:translateY(0px);}
.ea_menu_box{text-align:center;position:relative;background:#fff;padding-top:6px;padding-bottom:8px;border-radius:4px;box-shadow:0px 4px 10px -5px #909090;}
.ea_menu_detail{text-align:center;font-weight:300;opacity:1}
.ea_menu_detail:hover{opacity:0.4}
.ea_label{padding:10px;}

/* menu */
#menubox{border-radius:4px;top:32px;left:0.2px;width:100%;height:auto;background-color:#fff;overflow:visible;box-shadow:0px 4px 10px -5px #909090;opacity:0;transform:translateY(8px);padding-bottom:9px;padding-top:7px;color:#59af89;}
.d_menu{margin:5px;text-align:center;cursor:pointer;color:#59af89;}

/* calendar */
#calendarbox{display:block;position:absolute;width:500px;height:470px;border:0;padding:21px;padding-top:40px;transform-origin:0% 0%;transform:scale(0.56);top:32px;left:calc(-152px + 50%);border-radius:8px;background-color:#fff;z-index:1;box-shadow:0px 3px 12px -6px #909090;}
#calendar{display:block;position:absolute;width:85%;height:101%;top:0px;left:1px;margin:35px;margin-top:42px;opacity:0;transform:translateY(15px);animation:in 0.3s ease forwards;}
#calendar_text{border-radius:7px;background:#fff;color:#2fa678;z-index:1;height:72px;width:calc(100% + 42px);left:-21px;position:relative;animation: in 0.3s ease forwards;box-shadow:0px 4px 10px -5px #909090;margin-top:504px;}
.rowinputplus{font-family:'sandoll';font-weight:600;width:100%;background:transparent;border:0;outline:none;overflow: scroll;height:100%;line-height:1.7;letter-spacing:-0.2px;padding-top:8px;}

/* slide scope */
#slidebox{width:360px;height:75px;top:31px;left:calc(-180px + 50%);background-color:#fff;border-radius:5px;box-shadow:0px 2px 10px -6px #909090;cursor:pointer;opacity:0;transform:translateY(15px);}
.slidebar{display:block;position:relative;top:19px;height:12px;left:20px;width:320px;background-color:#59af89;border-radius:8px;cursor:pointer;overflow:hidden;}
.slidebackbar{position:absolute;height:100%;background-color:#ececec;top:0;left:0px;width:100%;border-radius:10px;}
#slidebackbar1{transform-origin:0% 0%;}#slidebackbar2{transform-origin:100% 0%;}
.slidebackbarbuttons{position:absolute;top:0;width:3.8%;height:100%;cursor:pointer;border-radius:10px;background:#606060;opacity:0;}
.slidebackbarbuttons:hover{opacity:0.2;}
.slidercircle{position:absolute;width:12px;height:12px;cursor:pointer;background-color:#606060;border-radius:10px;top:0;left:0;}
.slidenumber{position:absolute;font-weight:600;top:39px;left:0;text-align:center;width:100%;color:#404040;}
.scopeinput{position:absolute;outline:0;border:0;font-size:17px;color:#404040;font-weight:500;top:18px;width:67px;height:39px;background:#f7f7f7;border-radius:5px;padding-bottom:6px;text-align:center;}
#scopeinput_min{left:88px;}
#scopeinput_max{left:222px;}
.scopep{position:absolute;font-size:19.6px;font-weight:200;color:#404040;top:19.5px;}
#scopeinput_min + .scopep{left:163px}
#scopeinput_max + .scopep{left:297px}
#scopep_title{font-weight:600;left:30px;color:#2fa678;top:20px;}
#scopep_mul{font-weight:400;color:#2fa678;left:201px;font-size:25px;top:15.5px;}

/* calc period */
#periodbox{padding:18px;padding-left:14px;padding-right:9px;width:360px;height:165px;top:31px;left:calc(-192px + 50%);background-color:#fff;border-radius:5px;box-shadow:0px 2px 10px -6px #909090;cursor:pointer;opacity:0;transform:translateY(15px);color:#404040;}
#period_before,#period_after,#period_text{display:block;position:relative;margin:4px;height:41px;text-align:center;left:1px;}
#period_after{margin-top:-5px;}
.period_textbox{border-top:1px solid #dddddd;margin-top:22px;width:304px;left:25px;padding-top:10px;margin-right:0px;position:relative;text-align:right;opacity:1;}
.period_textbox:hover{opacity:0.5;}
#period_equal{display:inline-block;color:#59af89;margin-right:2px;position:relative;vertical-align:top;padding-top:3.6px;}
#period_text{display:inline-block;text-align:right;margin-right:0px;vertical-align:top;margin-top:4px;}
.periodinput,.periodp{display:inline-block;position:relative;margin:1px;padding:3px;}
.periodinput{font-weight:500;outline:none;border:0;background:#f7f7f7;border-radius:5px;height:32px;top:0px;text-align:center;padding-bottom:5px;}
#period_before *:nth-child(2),#period_after *:nth-child(2){width:80px;}
#period_before *:nth-child(4),#period_after *:nth-child(4){width:45px;}
#period_before *:nth-child(6),#period_after *:nth-child(6){width:45px;}
.periodp{font-weight:300;top:7px;margin-right:8px;}
.periodptitle{font-weight:600;top:9px;}

/* multiple selection */
#multiplebox{text-align:center;padding:22px 20px 25px 20px;top:33px;left:calc(50% - 192px);width:340px;background:#fff;border-radius:3px;box-shadow:1px 4px 11px -5px #808080;}
#multiplebox section{display:inline-block;background:#dddddd;border-radius:8px;color:#f2f2f2;padding:7px 15px 10px 15px;margin:3px;font-weight:400;transition:all 0.3s ease;}
#multiplebox input{display:none;}
#multiplebox input:checked + .multiplebox_label section{background:#2fa678;color:#fff;}
.multiplebox_buttons{display:block;position:relative;margin:9px 16px 3px 16px;text-align:center;font-family:'futura';font-weight:400;color:#009c6a;}
#multiplebox_save,#multiplebox_cancel{position:absolute;top:0;width:18%;height:100%;cursor:pointer;}
#multiplebox_save{left:30%;}
#multiplebox_cancel{left:50%;}

/* array box */
#arraybox{top:32px;left:-6px;padding:5px;padding-left:6px;padding-right:6px;width:100%;text-align:center;}
.arrayitems{border-radius:5px;margin-top:6px;background:#fff;color:#2fa678;position:relative;width:100%;box-shadow:0px 4px 10px -5px #909090;height:32px;}
.rowinputarray{text-align:center;padding-top:3px;}
#array_plus,#array_update{display:inline-block;width:20px;position:relative;height:22px;margin-top:9px;border-radius:20px;background:transparent;box-shadow:0px 1px 3px 0px #909090;cursor:pointer;opacity:0.9;}
#array_plus{margin-left:8px;}
#array_plus:hover,#array_update:hover{opacity:0.7;}
#array_img,#array_upimg{position:absolute;top:0%;width:114%;left:-7%;}

/* object box */
#objectbox{top:32px;left:0px;width:100%;text-align:center;}
.objectitems{position:relative;width:100%;height:32px;margin-bottom:7px;}
.objectitem_x,.objectitem_y{display:inline-block;border-radius:5px;background:#fff;color:#2fa678;position:relative;box-shadow:0px 4px 10px -5px #909090;height:28.5px;padding-top:6.2px;}
.objectitem_x{width:30%;}
.objectitem_y{width:60%;margin-left:4px;}
.objectitem_y > label{position:absolute;width:100%;top:0;left:0;height:100%;background:transparent;}
.objectitem_y_items{display:none;position:absolute;z-index:2;background:linear-gradient(30deg, rgba(89,175,137,0.9) 5%, rgba(0,156,106,0.9) 100%);width:100%;top:38px;left:0;border-radius:4px;box-shadow:0px 2px 6px -3px #aaaaaa;padding-top:11px;padding-bottom:10px;color:#fff;font-weight:300;}
.objectitem_y_input:checked + .objectitem_y_items{display:block}
.objectitem_y_items_detail{margin-bottom:5px;opacity:1}
.objectitem_y_items_detail:hover{opacity:0.45;}
.objectitem_y_text{outline:0;border:0;text-align:center;width:94%;position:relative;}

/* card view article */
#cardviewbox{position:fixed;top:31px;width:calc(100% - 440px);left:410px;height:calc(100% - 206px);background:#fff;z-index:3;border-radius:5px;box-shadow:1px 4px 11px -5px #808080;animation:in 0.3s ease forwards;overflow-y:scroll;overflow-x:hidden;padding-top:37px;padding-bottom:70px;padding-left:0;padding-right:0;text-align:left;box-sizing:border-box;margin-left:0;}
#cardviewbox::-webkit-scrollbar{display:none;}
#cancel_back_card{height:calc(100% + 130px);width:100%;background:transparent;position:fixed;top:0px;left:0px;z-index:3;}
.cards_input{display:none;}
.cards{display:inline-block;position:relative;margin-top:10px;font-family:'sandoll';line-height:1.7;font-weight:600;margin-right:var(--main-marginbase);padding-top:6px;vertical-align:top;text-align:left;letter-spacing:-0.2px;cursor:pointer;box-sizing:border-box;opacity:0.4;}
.cards_input:checked + .cards{opacity:1;}
.cardwidth1{width:calc((100% - (var(--main-marginbase) * 7)) / 7);}
.cardwidth2{width:calc((((100% - (var(--main-marginbase) * 7)) * 2) / 7) + var(--main-marginbase));}
.cardwidth3{width:calc((((100% - (var(--main-marginbase) * 7)) * 3) / 7) + var(--main-marginbase) + var(--main-marginbase));}
.cardtitle,.carddata{left:3.5%;}
.cardtitle{position:relative;text-align:center;height:54px;box-sizing:border-box;overflow:visible;border-bottom:1px solid #dddddd;width:93%;}
.carddata{position:relative;text-align:left;height:auto;box-sizing:border-box;overflow:visible;margin-top:50px;width:93.4%;display:flex;flex-flow:wrap;}
.cardtitle_white,.cardtitle_main,.cardtitle_sub{display:inline-block;}
.cardtitle_white{background:#fff;padding:20px;box-sizing:border-box;}
.cardtitle_main{font-weight:700;margin-right:9px;}
.cardtitle_sub{font-weight:300;color:#59af89;padding-bottom:4px;}
#cardtitle_main_create,#cardtitle_sub_create{position:relative;outline:0;border:0;background:#f2f2f2;border-radius:4px;text-align:center;}
#cardtitle_main_create{width:156px;padding-bottom:9px;padding-top:4.5px;}
#cardtitle_sub_create{width:132px;padding-bottom:9px;padding-top:6px;top:8px;color:#404040;}
.cardtitle_img1,.cardtitle_img2{width:13px;position:absolute;top:89.1%;cursor:pointer;opacity:1;background:#fff;}
.cardtitle_img1:hover,.cardtitle_img2:hover{opacity:0.6;}
.cardtitle_img1{left:0px;padding-right:8px;}
.cardtitle_img2{right:0px;padding-left:8px;}
.cardtitle_img3{width:18px;position:absolute;top:83%;cursor:pointer;opacity:1;background:#fff;right:1px;padding-left:8px;}
.cardcolumns,.cardcontents{display:block;position:relative;}
.cardcolumns{font-weight:700;color:#2fa678;padding-left:1px;}
.cardcontents{background:#f2f2f2;padding:9px;padding-top:6px;padding-bottom:7px;margin-top:5px;border-radius:4px;border:0;overflow:hidden;height:23px;font-size:inherit;}

/* sortbox */
#sortbox{position:absolute;background:linear-gradient(30deg, rgba(89,175,137,0.9) 5%, rgba(0,156,106,0.9) 100%);width:140px;height:auto;top:31px;left:calc(-70px + 50%);z-index:1;border-radius:5px;box-shadow:0px 4px 10px -6px #909090;cursor:pointer;opacity:0;transform:translateY(15px);animation:in 0.2s ease forwards;padding-top:13px;padding-bottom:15px;}
.sortbox_item,.fiterbox_item{position:relative;color:#fff;font-weight:400;opacity:1;margin:4px;}
.sortbox_item:hover,.fiterbox_item:hover{opacity:0.6;}
.filter{margin-top:14px;padding-top:11px;position:relative;}
.filter_back{position:absolute;width:76%;left:12%;height:100%;border-top:1px solid white;top:0;opacity:0.5;}

/* colrling box */
#colorling_box{position:absolute;display:flex;flex-flow:wrap;width:96.8%;left:2.5%;height:67.5%;align-items:center;top:2%;}
.color_palettes_box{display:inline-block;position:relative;background:white;width:calc((100% - 120px) / 10);height:60px;margin-right:12px;border-radius:5px;overflow:hidden;opacity:0.8}
.color_palettes{display:block;position:absolute;top:0;left:0;width:100%;height:100%;cursor:pointer;color:transparent;font-size:0;opacity:1;mix-blend-mode:multiply;}
#colorling0{background:#ffffff;}#colorling2{background:#daf5e3;}#colorling3{background:#f7f3eb}#colorling7{background:#ecebeb;}

/* picture selection */
#pictureselectionbox{position:absolute;padding:46px;padding-top:14px;padding-bottom:57px;top:36px;left:calc(-260% - 41px);width:735%;z-index:1;background:#fff;height:555px;border-radius:5px;box-shadow:1px 4px 11px -5px #808080;animation:in 0.3s ease forwards;overflow:scroll;}
#pictureselectionbox::-webkit-scrollbar{display:none;}
.picdiv_row{height:37px;text-align:left;margin-top:33px;color:#404040;}
.picimgbox{display:block;width:100%;height:250px;overflow-x:scroll;overflow-y:hidden;text-align:left;border-radius:3px;transition:all 0.3s ease;cursor:pointer;}
.picimgboxscr{display:block;height:100%;text-align:left;}
.picimgbox::-webkit-scrollbar,.picimgboxscr::-webkit-scrollbar{display:none;}
.picimg{height:250px;display:inline-block;margin-right:10px;border-radius:5px;}
.picopen,.picocheck,.picopen:checked ~ .picimgbox{display:none;}
.picdiv{display:inline-block;font-weight:300;}
.piclabel{color:#808080;font-weight:800;}
.picopen:checked + .piclabel{color:#59af89;}
.picocheck_div{display:inline-block;position:relative;}
.picocheck_div > img{opacity:1;}
.picocheck:checked + .picocheck_div > img{opacity:0.55;}
.picocheck_label{display:block;position:absolute;cursor:pointer;top:0;right:10px;width:30px;height:30px;display:block;}
.checkicon0,.checkicon1{display:block;position:absolute;width:14px;height:14px;bottom:4px;left:4px;mix-blend-mode:multiply;opacity:0;}
.picimg:hover + .picocheck_label > .checkicon0,.picocheck_label:hover > .checkicon0{opacity:0.4;}
.picocheck:checked + .picocheck_div .picocheck_label .checkicon0{opacity:0}
.picocheck:checked + .picocheck_div .picocheck_label .checkicon1{opacity:1}

/* report box */
#secondviewbox{outline:0;border:0;width:100%;height:100%;position:absolute;top:0;left:0;overflow:scroll;}
#secondviewbox::-webkit-scrollbar{display:none;}

/* media query detail */
@media (min-width:1632px) {
  /* html{zoom:1;} */
  #longtextbox{height:480px;}
  .bleobj{margin:3px;}
  .below2{padding: 24px;}
}
@media (min-width:1521px) and (max-width:1631px) {
  /* html{zoom:0.93;} */
  #longtextbox{height:380px;}
  .bleobj{font-size:14px;margin: 3px;margin-top: 3.4px;padding:4px 11px 4px 11px;}
  .below2{padding: 26px;}
  .navitotalgroup{margin-top:-332px;left:28px;}
  .navitalk{bottom:3.4%;left:28px;width:27px;}
}
@media (min-width:1460px) and (max-width:1520px) {
  /* html{zoom:0.89;} */
  #longtextbox{height:280px;}
  .bleobj{font-size:13px;margin: 3px;margin-top: 3.6px;padding:4px 9px 4px 9px;}
  .below2{padding: 27px;}
  .navitotalgroup{margin-top:-332px;left:28px;}
  .navitalk{bottom:3.4%;left:28px;width:27px;}
}
@media (max-width:1459px) {
  /* html{zoom:0.86;} */
  #longtextbox{height:280px;}
  .bleobj{font-size:13px;margin: 3px;margin-top: 2.2px;padding:4px 9px 4px 9px;}
  .below2{padding: 28px;}
  .navitotalgroup{margin-top:-332px;left:28px;}
  .navitalk{bottom:3.4%;left:28px;width:27px;}
}
