#belowscroll{display: none;}
#naviscroll{display: none;}
#mongo_totalcontents{position:relative;display:flex;align-items:center;justify-content:center;height:calc(100vh - 123px);margin-left:190px;margin-top:0px;width:calc(100% - 190px);overflow:hidden;}
.mongo_box_create{
  position: relative;
  display: block;
  width: calc(100% - 96px);
  height: calc(100% - 112px);
}

.pp_box{
  width: 100%;
display: block;
height: calc(calc(100% / 3) - 21px);
margin-bottom: 21px;
overflow: hidden;
}

#pp_firstprocess_box{}
#pp_secondprocess_box{cursor: pointer;}
#pp_thirdprocess_box{}
.pp_title{
  font-size: 1.8vh;
    font-weight: 700;
    display: block;
    height: 10%;
    cursor: pointer;
}
.pp_contents{
  display: block;
    height: calc(90% - 10px);
    margin-top: 10px;
    background: #f7f7f7;
    border-radius: 10px;
    padding-right: 30px;
    padding-left: 30px;
}
.pp_contents_inbox{
  display: block;
  text-align: center;
  height: calc(100% - 33px);
  position: relative;
  top: 16px;
  overflow: scroll;
}
.pp_contents_inbox::-webkit-scrollbar{display:none;}

#pp_secondprocess_box > .pp_contents > .pp_contents_inbox{
  display: flex;
    flex-wrap: wrap;
    padding-left: 2.5px;
    padding-top: 16px;
    height: calc(100% - 56px);
}

.pp_service{
  display: inline-flex;
    height: calc(calc(100% / 3) - 6px);
    width: calc(calc(100% / 4) - 5px);
    background: #dddddd;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding-bottom: 1px;
    position: relative;
}

.pp_service_wording{
  font-size: 1.2vh;
  font-weight: 600;
  color: #aaaaaa;
  position: absolute;
  margin-top: -1px;
}

.pp_clients_input{
  display: none;
}
.pp_clients_input:checked + div {
  background:#59af89;
}
.pp_clients_input:checked + div > div {
  color:white;
}

.pp_clients_label{
  cursor: pointer;
}
.garim{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


#pp_firstprocess_box .pp_title{}
#pp_firstprocess_box .pp_contents{}

#pp_secondprocess_box .pp_title{}
#pp_secondprocess_box .pp_contents{}

#pp_thirdprocess_box .pp_title{}
#pp_thirdprocess_box .pp_contents{    box-sizing: border-box;}


.pp_clients{
  font-size:1.3vh;
  font-weight:600;
  display:inline-block;
  padding:15px;
  padding-top:6px;
  padding-bottom:8px;
  background:white;
  margin:3px;
  border-radius:5px;
  box-sizing: border-box;
  position: relative;

}

.pp_clients div{
  font-size:inherit;
  transition:all 0.3s ease;
}


.pp_designer{
  width: calc(calc(100% / 3) - calc(calc(5px * 2) / 3));
height: calc(100% - 20px);
margin-top: 10px;
background: #dddddd;
display: inline-flex;
border-radius: 5px;
margin-right: 5px;
justify-content: center;
align-items: center;
position: relative;
box-sizing:border-box;
}

.pp_designer_selected{
  display: inline-block;
  height:100%;
  box-sizing: border-box;

}


.pp_contents_inbox > .pp_designer:nth-child(3) {
  margin-right: 0px;
}



@keyframes pp_designer_question_ani {
  from,50% {transform: translateY(0px);}
  to {transform: translateY(-23px);}
}
.pp_designer_question{
  top: calc(50% - 19px);
  position: absolute;
  width: 100%;
  display: block;
  font-size: 19px;
}
.pp_designer_question_add{
  animation: pp_designer_question_ani 1.8s ease forwards;
}
.pp_designer_question_remove{
  animation: pp_designer_question_ani 1.8s ease forwards reverse;
}


.pp_designer_question > div:nth-child(1){
  font-size: inherit;
  font-weight: 200;
  color:#aaaaaa;
  display: inline-block;
  margin-left: 7px;
}


#pp_designer_question_input{
  margin: 0;
  width: 43px;
  margin-left: 5px;
  font-size: inherit;
  font-weight: 600;
  color:#aaaaaa;
  outline: 0;
  border: 0;
  background: transparent;
}
@keyframes press_fadein { from,75% {opacity: 0} to {opacity: 1} }
.pp_designer_question_press{
  display: block;
    font-size: 13px;
    font-weight: 600;
    color: #cccccc;
    margin-top: 3px;
    opacity: 0;
}
.pp_designer_question_press_add{
  animation: press_fadein 2.5s ease forwards;
}
.pp_designer_question_press_remove{
  animation: press_fadein 2.5s ease forwards reverse;
}


.pp_designer_selected_box{
  margin: 25px;
  margin-top: 16px;
  margin-bottom: 0;
}
.pp_designer_selected > .pp_designer_selected_box:nth-child(1){
  margin-top: 34px;
}
.pp_designer_selected_box_value{
  display:none;
}


.pp_designer_selected_box_title{
  font-size: 14px;
  font-weight: 600;
  color:#606060;
}

.pp_designer_selected_box_contents{
  margin-top:5px;
  background: #f2f2f2;
  border-radius: 5px;
  height:calc(100% - 24px);
  box-sizing: border-box;
}

.pp_designer_selected > .pp_designer_selected_box:nth-child(1){
  height:calc(calc(100% - 116px) * 0.42);
}
.pp_designer_selected > .pp_designer_selected_box:nth-child(2){
  height:calc(calc(100% - 116px) * 0.16);
}
.pp_designer_selected > .pp_designer_selected_box:nth-child(3){
  height:calc(calc(100% - 116px) * 0.16);
}
.pp_designer_selected > .pp_designer_selected_box:nth-child(4){
  height:calc(calc(100% - 116px) * 0.26);
}

.pp_designer_selected_box_contents_designers_total,.pp_designer_selected_box_contents_service_total{
  display: block;
width: calc(100% - 40px);
height: calc(100% - 25%);
margin-left: 20px;
overflow: scroll;
flex-wrap: wrap;
position: relative;
top: 12%;
border-bottom: 1px solid #dddddd;
text-align: center;
box-sizing: border-box;
}
.pp_designer_selected_box_contents_designers_total::-webkit-scrollbar{display:none;}


.pp_designer_selected_box_contents_designers,.pp_designer_selected_box_contents_service{
  font-size: 1.2vh;
font-weight: 600;
display: inline-flex;
padding: 13px;
padding-top: 4px;
padding-bottom: 5px;
height: 16px;
background: white;
margin: 2px;
margin-top: 2px;
border-radius: 5px;
position: relative;
}

.pp_designer_selected_box_contents_designers_input:checked + .pp_designer_selected_box_contents_designers{
  background: #59af89;
  color:white;
}

.pp_designer_selected_box_contents_service_total{
  border: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.pp_designer_selected_box_contents_service{
  font-size: 1.4vh;
    background: transparent;
    padding-top: 0;
    position: relative;
    display: inline-block;
    text-align: initial;
    overflow: visible;
    padding-left:0.5vw;
    padding-right:0.5vw;
}

.pp_designer_selected_box_contents_service_input:checked + .pp_designer_selected_box_contents_service{
  color:#59af89;
}

.pp_designer_selected_box_contents_service_input:checked + .pp_designer_selected_box_contents_service > .pp_designer_selected_box_contents_service_won{
  background: #59af89;
}


.pp_designer_selected_box_contents_service_won{
  position: absolute;
width: 6px;
height: 6px;
background: #bbbbbb;
border-radius: 10px;
top: calc(50% - 3px);
left: -2px;
}


.pp_designer_selected_box_contents_money{
  font-size: 1.4vh;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.pp_designer_selected_box_contents_money_text,.pp_designer_selected_box_contents_money_text2{
  font-size: inherit;
    display: inline-block;
    font-weight: 700;
    color: #606060;
    padding-bottom: 3px;
}

.pp_designer_selected_box_contents_money_input{
  font-size: inherit;
      display: inline-block;
      position: relative;
      /* top: -2px; */
      margin-right: 2px;
      border: 0;
      color: #59af89;
      font-weight: 600;
      outline: 0;
      background: transparent;
      text-align: end;
      /* width:9vh; */
      transition: width 0.1s linear;
}

.pp_designer_selected_box_contents_money_set{
  font-size: inherit;
      position: relative;
      margin-left: 6px;
margin-right: 6px;
}

.pp_designer_selected_box_contents_selection{
  font-size: 1.1vw;
  display: flex;
  font-weight: 300;
  color: #aaaaaa;
  width: 100%;
  height: 87%;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}

@keyframes cancelback_fadein { from,10% {opacity: 0} to {opacity: 0.15} }
.pp_fifth_cancelback{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background: black;
  opacity: 0;
  animation: cancelback_fadein 1s ease forwards;
}


@keyframes whitebox_fadein { from,10% {opacity: 0;transform: translateY(20px);} 90%,to {opacity: 1;transform: translateY(0px);} }
.pp_fifth_whitebox{
  display: block;
  position: absolute;
  width: calc(100% - 96px);
  height: calc(100% - 120px);
  background: white;
  border-radius: 9px;
  box-shadow: rgb(128,128,128) 0px 3px 8px -5px;
  opacity:0;
  transform: translateY(20px);
  animation: whitebox_fadein 0.6s ease forwards;
}

:root{
  --left-width:69.6vh;
}

.ppw_leftbox{
  display: inline-block;
  width: var(--left-width);
  height: calc(100% - 66px);
  position: relative;
  margin: 32px;
  margin-top: 33px;
  border: 1px solid #ececec;
  border-radius: 7px;
      overflow: scroll;
}
.ppw_leftbox::-webkit-scrollbar{display:none;}

.ppw_left_title{
  display: block;
  height: 2.9vh;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  margin-left: 22px;
  margin-bottom: 1.2vh;
  top: 3vh;
  position: relative;

}

.ppw_left_picturebox{
  display: block;
  height: 73.35%;
  background: transparent;
}


.ppw_left_picturebox_inbox{
  width: calc(100% - 42px);
  height: 91.45%;
  overflow: visible;
  position: relative;
  top: 21px;
  left: 21px;
}

.ppw_left_picturebox_inbox_detail{
  background: silver;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  background-position: 50% 50%;
  background-size: 101% 101%;
  cursor:pointer;
  opacity: 1;
  transition: width 0s;
}
.ppw_left_picturebox_inbox_detail:hover{
  opacity: 0.8;
}

.ppw_left_description{
  height: calc(93.6% - 490px);
  position: absolute;
  bottom: 0;
  width: 100%;

}

.ppw_left_description_inbox{
  position: absolute;
  bottom: 3.2vh;
  left: 21px;
  width: calc(100% - 42px);
  overflow: scroll;
}
.ppw_left_description_inbox::-webkit-scrollbar{display:none;}

.ppw_left_description_inbox_detail{
  height: 2.4vh;
      font-size: 16px;
      font-weight: 700;
      position: relative;
}

.ppw_left_description_inbox_input{
  display: block;
  height: 25%;
  width: 100%;
  margin: 0;
  border: 0;
  font-size: 1.38vh;
  outline: 0;
  margin-top: 0.7vh;
  word-spacing: -0.3px;
  letter-spacing: -0.2px;
  font-weight: 500;
}

.ppw_left_description_inbutton{
  position: absolute;
  right: 21px;
  bottom: 3.2vh;
  width: 54px;
  height: 28px;
  background: #59af89;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  padding-bottom: 3px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.ppw_left_description_inbutton:hover{
  color: #bddfd0;
}


.ppw_rightbox{
  display: inline-block;
  width: calc(100% - var(--left-width) - 82px);
  height: calc(100% - 66px);
  position: absolute;
  border: 1px solid #ececec;
  border-left: 0;
  border-radius: 7px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  overflow: scroll;
  top: 33px;
  right: 33px;
  box-sizing: border-box;

}
.ppw_rightbox::-webkit-scrollbar{display:none;}


.ppw_right_totalbox{
  position: relative;
  display: block;
  top: 3.2vh;
  left: 7px;
  width: calc(100% - 7px);
  overflow: hidden;

}
.ppw_right_totalbox::-webkit-scrollbar{display:none;}

.ppw_right_set{
  font-size: 16px;
      font-weight: 700;
      overflow: hidden;
      position: relative;
}
.ppw_right_set::-webkit-scrollbar{display:none;}
.ppw_right_title{
font-size: inherit;
}


.ppw_right_picturebox{
  height: 184px;
  background: #f2f2f2;
  margin-top: 1.3%;
  margin-bottom: 2.9%;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  position: relative;
  overflow: scroll;
}
.ppw_right_picturebox::-webkit-scrollbar{display:none;}

.ppw_right_picturebox_scroll{
  height:100%;
  position: relative;
  padding-right:12px;
}

.ppw_right_picturebox_s, .ppw_right_picturebox_g{
  position: relative;
  height: calc(100% - 24px);
  margin: 12px;
  margin-right: 0;
  display: inline-block;
  border-radius: 3px;
  overflow: hidden;
}

.ppw_right_picturebox_s{
width: 113px;
}

.ppw_right_picturebox_g{width: 226px;}

.ppw_right_picturebox_img{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  cursor: pointer;
  border-radius: 3px;
  opacity:1;
}
.ppw_right_picturebox_img:hover{opacity:0.6;}

.ppw_right_buttonup{
  position: absolute;
  display: block;
  top: 3.5px;
  right: 11px;
  width: 33px;
  height: 12px;
}
.ppw_right_buttonup_img_left,.ppw_right_buttonup_img_right{
  position: absolute;
  width: 44%;
  height: 100%;
}
.ppw_right_buttonup_img_left{
  left: 0;
}
.ppw_right_buttonup_img_right{
  right: 0;
}
.ppw_right_buttonup_div_left,.ppw_right_buttonup_div_right{
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  background: white;
  opacity: 0;
  cursor: pointer;
}
.ppw_right_buttonup_div_left:hover,.ppw_right_buttonup_div_right:hover{
  opacity:0.4;
}
.ppw_right_buttonup_div_left{
  left: 0;
}
.ppw_right_buttonup_div_right{
  right: 0;
}


@keyframes blewpp_button_fadein { from,10% {opacity: 0;transform: translateY(10px);} 90%,to {opacity: 1;transform: translateY(0px);} }
.blewpp_button{
  cursor: pointer;
  position: absolute;
  background: white;
  border-radius: 9px;
  top: 37px;
  animation: blewpp_button_fadein 1s ease forwards;
  transition: width 0s;
  height: 38px;
}

.blewpp_button_text{
  font-size: 14px;
  font-weight: 600;
  transition: width 0s;
  position: absolute;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}


.blewpp_input{
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  font-size: 29px;
  font-weight: 100;
  height: 99px;
  color: white;
  outline: 0;
  border: 0;
  background: transparent;
  text-align: center;
}


.blewpp_input::placeholder {
  color: white;
  opacity: 0.7;

}


.blewpp_button_garim,.blewpp_number_garim{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#belowgreen{
  position: relative;
    height: 100%;
    transform: translateX(0px);
    padding:0;
    margin:0;
    width:100%;

}

@keyframes blewpp_numberbar_total_fadein { from,50% {opacity: 0;} to {opacity: 1;} }
.blewpp_numberbar_total{
  width: 310px;
  opacity: 0;
  margin-right: auto;
  margin-left: auto;
  padding-top: 17px;
  position: relative;
  animation: blewpp_numberbar_total_fadein 1.2s ease forwards;
}
@media (max-width:1100px) {
  .blewpp_numberbar_total{display: none;}
}
.blewpp_bar{
  position: absolute;
    border-bottom: 1px solid #83cea7;
  height: 0;
  top: 53px;
  animation: blewpp_numberbar_total_fadein 1.6s ease forwards;
}

.blewpp_barleft{
  width: calc(50% - 436px);
  left: 311px;
}
.blewpp_barright{
  width: calc(50% - 457px);
  right: 324px;
}
@media (max-width:1600px) {


.blewpp_barright,.blewpp_barleft{  display:none;}

}

.blewpp_fifthevent_box{
  cursor: pointer;
  animation: blewpp_button_fadein 0.5s ease forwards;
  position: absolute;
  right: 173px;
  width: 92px;
  padding: 11px;
  padding-top: 8px;
  padding-right: 17px;
  padding-left: 17px;
  background: #f7f7f7;
  box-shadow: rgb(128,128,128) 1px 4px 7px -5px;
  border-radius: 9px;
  font-size: 15px;
  font-weight: 200;
  color: #808080;
  text-align: center;
  z-index: 3;
}

.blewpp_fifthevent_box:hover{
  color: #59af89;
  background: #fbfbfb;
}

#blewpp_fifthevent_cancelbox{
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}



/* list */






.mongo_box_list{
  position: absolute;
  z-index: -1;
  width: calc(100%);
  height: calc(100%);
  top: 0;
  left: 0;
}



.listpp_searchBar{
  width: 588px;
  position: fixed;
  height: 80px;
  top: 0px;
  right: 0px;
  z-index: 1;
  background: #fff;
  transition: background 0s;
  overflow: visible;
}

.listpp_searchBar_img{
  width: 560px;
height: 35px;
right: 28px;
top: 30px;
position: absolute;
mix-blend-mode: multiply;
}

.listpp_searchBar_input{
  position: absolute;
  top: 29.5px;
  right: 28px;
  width: 548px;
  height: 36px;
  outline: none;
  font-family: 'sandoll';
  border: 0;
  font-weight: 500;
  background: transparent;
  color: #505050;
  letter-spacing: -0.2px;
  padding-bottom: 3px;
  font-size:14.5px;
}


.listpp_leftBar{
  display: block;
      position: absolute;
      top: 0px;
      width: 190px;
      left: 0px;
      height: 100%;
      background: #f7f7f7;
      z-index: 3;
      opacity: 0.87;
      box-shadow: 1px 4px 7px -5px #aaaaaa;
}

.listpp_leftBar_totalbox{
  position: absolute;
  top: 116px;
  left: 14%;
  width: 72%;
  height: calc(100% - 116px);
  overflow: scroll;
}
.listpp_leftBar_totalbox::-webkit-scrollbar{display:none;}


.listpp_leftBar_detail_id,.listpp_leftBar_detail,.listpp_leftBar_detail_num{
  height: 25px;
  font-size: 14px;
  margin-bottom: 9px;
  display: inline-block;
  top: 0;
  position: relative;

}

.listpp_leftBar_detail_id{
  width: 32%;
  font-weight: 200;
  margin-left: 3%;
}

.listpp_leftBar_detail{
  width: 31%;
      font-weight: 600;
      margin-left: 2%;
}

.listpp_leftBar_detail_num{
  width: 30%;
  font-weight: 500;
  text-align: end;
  top:-1px;
}

.listpp_leftBar_detail_bar{
  position: absolute;
      top: 8px;
      left: 70%;
      width: 12%;
      border-bottom: 1px solid #dddddd;
}

.listpp_mainArea{
  position: relative;
      top: 106px;
      left: 228px;
      width: calc(100% - 244px);
      height: calc(100% - 104px);
      overflow: scroll;
}
.listpp_mainArea::-webkit-scrollbar{display:none;}

.listpp_mainArea_tong{
  display: block;
  width:100%;
  height: 34px;
  margin-bottom: 8px;
  border-radius: 5px;
  background: white;
  cursor: pointer;
  position: relative;
}

.listpp_mainArea_tong_id{
  font-size: 14px;
      font-weight: 200;
      left: 1px;
      display: inline-block;
      width: 86px;
      position: absolute;
      top: 6px;
      color: #59af89;
}

.listpp_mainArea_tong_name{
  font-size: 14px;
  display: inline-block;
  font-weight: 600;
  padding-top: 3px;
  position: absolute;
  margin-left: 4px;
  width: 39px;
  top: 3.2px;
  left: 86px;
}
.listpp_mainArea_tong_name:hover{
  opacity:0.5;
}


.listpp_mainArea_tong_details{
  display: inline-block;
      font-size: 13px;
      position: absolute;
      top: 0px;
      background: #f7f7f7;
      height: calc(100% - 5px);
      width: calc(100% - 248px);
      padding-left: 11px;
      padding-top: 4px;
      border-radius: 5px;
      overflow: scroll;
      font-weight: 300;
      right: 98px;
      line-height: 1.7;
}
.listpp_mainArea_tong_details:hover{
  opacity:0.5;
}


.listpp_mainArea_tong_details > b {
  margin-left: 2px;
      margin-right: 2px;
      opacity: 0.8;
}

.listpp_mainArea_tong_progress{
  display: inline-block;
      font-size: 13px;
      width: 76px;
      font-weight: 600;
      height: 100%;
      position: absolute;
      right: 13px;
      border: 1px solid #ececec;
      text-align: center;
      box-sizing: border-box;
      top: 0px;
      padding-top: 6px;
      border-radius: 5px;
}

@keyframes listpp_menu_ani {
  from {opacity:0;transform:translateY(-10px);}
  to {opacity:1;transform:translateY(0px);}
}
.listpp_menu{
  position: absolute;
  right: 7px;
  top: 38px;
  width: 81px;
  height: 184px;
  background: white;
  z-index: 2;
  border-radius: 5px;
  display: block;
  box-shadow: rgb(128,128,128) 0px 3px 8px -5px;
  animation: listpp_menu_ani 0.3s ease forwards;
}
.listpp_menu_cancelback{
  position: fixed;
      height: 100%;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1;
      background: silver;
      opacity: 0.3;
}
.listpp_menuEvent{
  font-size: 13px;
  text-align: center;
  font-weight: 600;
  letter-spacing: -0.2px;
  word-spacing: -0.5px;
  margin-top: 5px;
  color:#505050;

}
.listpp_menuEvent:hover{
  color:#59af89;
}
.listpp_menuEvent_pending{
  margin-top: 13px;
}
.listpp_menuEvent_confirm{

}
.listpp_menuEvent_make{

}
.listpp_menuEvent_send{

}
.listpp_menuEvent_complete{

}
.listpp_menuEvent_cancel{

}
.listpp_menuEvent_delete{
  color:indianred;
}
@keyframes listpp_fadein_ani {
  from {opacity: 0;transform: translateX(-20px);}
  90% {opacity: 1;transform: translateX(0px);}
  to {opacity: 1;transform: translateX(0px);}
}
.listpp_fadein {
  opacity: 0;
  display: block;
  transform: translateX(-20px);
  animation: listpp_fadein_ani 0.5s ease forwards;
}
@keyframes listpp_fadeout_ani {
  from {opacity: 1;transform: translateX(0px);display: block;}
  90% {opacity: 0;transform: translateX(-20px);display: block;}
  to {opacity: 0;transform: translateX(-20px);display: none;}
}
.listpp_fadeout {
  opacity: 1;
  display: block;
  transform: translateX(0px);
  animation: listpp_fadeout_ani 0.5s ease forwards;
}




/* a */
